 <robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur10shadow">

  <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />
  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- instantiate the arm -->
  <xacro:ur10_robot prefix="" joint_limited="false"/>
  <!-- add the plugin which will be in a namespace (arm) -->
  <xacro:include filename="$(find sr_multi_description)/urdf/ur_gazebo.urdf.xacro" />

  <xacro:include filename="$(find sr_description)/materials.urdf.xacro" />
  <xacro:include filename="$(find sr_description)/hand/xacro/full_hand.urdf.xacro" />
    
  <!-- instantiate the hand -->
  <xacro:shadowhand muscletrans="false" muscle="false" bio="false" bt_sp="false" ubi="false" eli="false" reflect="1.0" prefix="" />
  <!-- add the plugin which will be in a namespace (hand) -->
  <xacro:include filename="$(find sr_multi_description)/urdf/sr_gazebo.urdf.xacro" />
  
  <!-- attach the hand to the arm -->
  <joint name="arm_to_hand" type="fixed">
    <parent link="ee_link" />
    <child link = "forearm" />
    <origin xyz="0.012 0.0 0.0" rpy="${pi/2.0} ${pi} ${pi/2.0}" />
  </joint>
  
 <!-- virtual link for grasping 
  <joint name="hand_to_grasp" type="prismatic">
      <parent link="palm" />
      <child link="grasp_center" />
      <origin xyz="0.0 -0.08 0.09" rpy="0.0 0.0 0.0" />
      <axis xyz="0 -1 0" />
      <limit lower="-0.08" upper="0.08" effort="30" velocity="2.0" />
    </joint>
  
  <link name="grasp_center"/>-->
 </robot>
