<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<gazebo>
    <plugin name="sr_gazebo_ros_controller_manager" filename="libsr_gazebo_ros_controller_manager.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>1400.0</updateRate>
      <robotNamespace>hand</robotNamespace>
    </plugin>
  </gazebo>
</robot>
